# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=Jsgl/WjbsbH+MeKMbcTcGw==,mrZ8tSc9GBjdBRt5bGMLVw==,ipgTZgPIAAO9kDf3JHirmw==,uE6SOF3SHwcsPq4LjchjFA==
API_TOKEN_SALT=vQgpTyBF7YNx8amhJhgzYQ==
ADMIN_JWT_SECRET=ArQFRG4c3VVDUZXdMvWCjg==
JWT_SECRET=QfVHTVV9E6zEvv1iZtZ37g==
TRANSFER_TOKEN_SALT=yyqlqFewymdMReqvqsICRA==
ENCRYPTION_KEY=Gkum/3LixGmakRH0J6lPZA==

# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=xxx
DATABASE_PORT=xxx
DATABASE_NAME=xxx
DATABASE_USERNAME=xxx
DATABASE_PASSWORD=xxx
DATABASE_SSL=false
DATABASE_FILENAME=.tmp/data.db

# Environment
NODE_ENV=development
